<span>{{ productName | uppercase }}</span>
<button [disabled]="isButtonDisabled" (mouseenter)="onMouseEnter($event)">This is a button</button>
<input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber" />
<p [ngClass]="isError ? 'isError' : ''">this is an error message</p>
<p [class.isError]="isError" [style.backgroundColor]="isError ? 'green' : ''">
	this is an error message
</p>
{{ myBirthday | date: 'dd-MM-YYYY' | lowercase }}
{{ salary | currency }}
{{ salary | percent }}
{{ address | json }}
